.menu-button {
    background: #f1f1f1;
    border: none;
    padding: 2px 5px;
    margin: 3px;
    font-weight: 500;
    cursor: pointer;
}

.menu-button:hover {
    background: #e8e8e8;
}

.menu-button-selected {
    background: #e4e4e4;
}

.menu-button-selected:hover {
    background: #e4e4e4;
}