* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.app {
    margin: 60px auto;
    width: 290px;
    height: fit-content;
    background-color: #f1f1f1;
}